@import url("reset.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}



.idsearch{
    margin-top: 10%;
    border-radius: 7px;
    background-color: #9536F4;
    color: #ffff;
    transform: scale(1.5);
    padding: 7px 54px;
    outline: none;
    border: 0;
    font-size: 12px;
}

.idinput{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: 0;
    font-size: 20px;
    text-align: center;
    background-color: #efefef;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box{
    margin-top: 150px;
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchresult{
    display: block;
    color: black;
    font-size: 30px;
}


.idsearch {
    display: block;
    margin-top: 30px;
}

.emailinput{
    font-size: 13px;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
    color: black;
}