@import url("reset.css");




body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}


header {
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 2px 5px #888888;
}

header>nav>div.bar {
    display: flex;
    justify-content: left;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #13837a;
    display: flex;
}

.logo::after {
    content: "Groundã€‚";
    font-size: 24px;
    color: #bb55d2;
}


.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: black;
    font-weight: bold;
    margin-right: 20px;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    color: #9536f4;
}


@media screen and (max-width: 768px) {
    .menu {
        display: none;

    }
}

/* @media screen and (max-width: 768px){
    .text , .text2 , .text3{
    display:inline
    }
  } */

/* div.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  } */

/* @media screen and (max-width: 768px) {
    div.container {
    width: 90%;
    }
  } */


.logo {
    margin: 10px 0;
}


.menu a {
    margin-bottom: 10px;
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}



ul {
    display: flex;
}

li {
    margin-left: 20px;
}

.text {
    font-weight: bold;
    position: flex;
    /* bottom: ; */
    left: 15%;
    transform: translate(10%, -900%);
    font-size: 2.5rem;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.25rem black;
    z-index: 1;
    transition: all 0.3s ease;
}

.text2 {
    font-weight: bold;
    position: flex;
    bottom: 12.5rem;
    left: 15%;
    transform: translate(10%, -1150%);
    font-size: 2.5rem;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.25rem black;
    z-index: 1;
    transition: all 0.3s ease;
}

.text3 {
    font-weight: normal;
    position: flex;
    bottom: 12.5rem;
    left: 15%;
    transform: translate(10%, -2700%);
    font-size: 1.25rem;
    color: white;
    text-shadow: 0.125rem 0.125rem 0.25rem black;
    z-index: 1;
    transition: all 0.3s ease;
}

.start-button {
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #6b7280;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translate(80%, -700%);


    /* position: absolute; */
    /* top: 500px;
    left: 15%;
      transform: translateX(-90%);           */
}



.start-button:hover {
    background-color: #4b5563;
}

div.icon {
    font-size: 20px;
    padding-right: 40px;
}