html, body {
    height: 100%;
  }
  
  .backgruond {
    background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #B7E8EB 100%);
    overflow: hidden;
    z-index: -2;
  }
  
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871;
    z-index: -1;
  }
  
  .wave {

    /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; */
    background: url(../img/wave.svg) repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    -webkit-animation: wave 2s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 2s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  .wave:nth-of-type(2) {
    top: -130px;
    -webkit-animation: wave 2s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
            animation: wave 2s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  
  @-webkit-keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  @-webkit-keyframes swell {
    0%, 100% {
      -webkit-transform: translate3d(0, -25px, 0);
              transform: translate3d(0, -25px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
    }
  }
  @keyframes swell {
    0%, 100% {
      -webkit-transform: translate3d(0, -25px, 0);
              transform: translate3d(0, -25px, 0);
    }
    50% {
      -webkit-transform: translate3d(0, 5px, 0);
              transform: translate3d(0, 5px, 0);
    }
  }
  